POSTGRES_DB=ashkana
POSTGRES_USER=ashkana
POSTGRES_PASSWORD=ashkana_local
POSTGRES_PORT=5432
API_PORT=8001
WEB_PORT=8000
PLATFORM_INITIAL_LOGIN=platform
PLATFORM_INITIAL_PASSWORD=ChangeMe-Platform-2026
SESSION_DAYS=7
SESSION_COOKIE_SECURE=false
